{% extends "home/base.html" %}

{% load staticfiles %}

{% block content %}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<div class="box-item">
							<img src="{% static 'home/img/13.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Pellentesque vehicula</h3>
								<p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque luctus. Aliquam et ante quis erat semper pretium. Pellentesque vehicula.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/1.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Planning Our Honeymoon</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi et tincidunt. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis at diam.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/2.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Brainstorming Wedding Ideas</h3>
								<p>Suspendisse porttitor. Aliquam eget metus nec leo tempor bibendum. Phasellus tincidunt lobortis metus. Duis euismod lorem turpis, viverra feugiat ipsum volutpat vitae. Fusce justo turpis, sodales sed placerat non, suscipit at diam.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/10.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Choosing The Bridesmaids and Groomsmen</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="{% static 'home/img/3.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Donec bibendum orci</h3>
								<p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque luctus. Aliquam et ante quis erat semper pretium. Pellentesque vehicula.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/4.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Met Dovey’s Parents in Chicago</h3>
								<p>Class aptent taciti urna bibendum id. Duis a commodo lectus. Morbi id purus nec purus feugiat vestibulum. Suspendisse sapien ante, bibendum ac quam quis, imperdiet bibendum sem. Curabitur nibh magna, tristique et convallis…</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/8.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Choosing The Bridesmaids and Groomsmen</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/11.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>She Said Yes!</h3>
								<p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque luctus. Aliquam et ante quis erat semper pretium. Pellentesque vehicula.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="box-item">
							<img src="{% static 'home/img/5.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Choosing The Bridesmaids and Groomsmen</h3>
								<p>Suspendisse porttitor sapien ac lectus euismod imperdiet. Curabitur nec nibh at massa pellentesque accumsan eu id nibh. Donec accumsan ut mi.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/12.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>She Said Yes!</h3>
								<p>Nunc eu velit metus. Donec in massa libero. Donec bibendum orci a lorem scelerisque luctus. Aliquam et ante quis erat semper pretium. Pellentesque vehicula.</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/6.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>A Sweet Escape to Paris</h3>
								<p>Proin lobortis mattis odio non ornare. Sed tempor nisi eu hendrerit luctus. Class aptent taciti sociosqu ad litora torquent per conubia nostravelit id sem tincidunt convallis ac eget quam. Vestibulum posuere porttitor sapien .</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
						<div class="box-item">
							<img src="{% static 'home/img/7.jpg' %}" class="img-responsive"/>
							<div class="content">
								<h3>Met Dovey’s Parents in Chicago</h3>
								<p>Class aptent taciti urna bibendum id. Duis a commodo lectus. Morbi id purus nec purus feugiat vestibulum. Suspendisse sapien ante, bibendum ac quam quis, imperdiet bibendum sem. Curabitur nibh magna, tristique et convallis…</p>
								<a href="single.html">Read More...</a>
								<br><br>
								<span>MAY 21, 2014 BY VAFPRESS</span><br>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	
{% endblock %}