{% extends "home/base.html" %}

{% load staticfiles sekizai_tags%}

{% block content %}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<!--img src="{% static 'home/img/banner1.jpg' %}" /-->
						<div class="art-content">
							<h2 class = "major" align="left">Account Overview</h2>
							<p><a href="/accounts/update/">Update </a> account.</p>
							<p><a href="/accounts/settings/">Settings </a> account.</p>
							<hr class="major" />

							<!-- Section -->
								<section>
									<div class="posts">
										<article>
											<h3>User</h3>
											  <p>First Name: {{ user.first_name }}</p>
											  <p>Last Name: {{ user.last_name }}</p>
											  <p>User Name: {{user.username}}</p>
											  <p>Email: {{ user.email }}</p>
											  <p>Last_login: {{ user.last_login }}</p>
											  <p>PK: {{ user.pk }}</p>
										</article>
										<article>
											<h3>Profile</h3>
												<p>Display Name: {{ user.account.display_name }}</p>
												<p>Balance: {{ user.account.balance }} Dollar$$</p>
										</article>

									</div>
								</section>

						</div>
					</article>
					<div class="widget wid-related">
						<div class="heading"><h4>Related Post</h4></div>
						<div class="content">
							<div class="row">
								<div class="col-md-4">
									<div class="wrap-col">
										<a href="#"><img src="{% static 'home/img/7.jpg' %}" /></a>
										<h4><a href="#">Vero eros et accumsan et iusto odio </a></h4>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wrap-col">
										<a href="#"><img src="{% static 'home/img/8.jpg' %}" /></a>
										<h4><a href="#">Vero eros et accumsan et iusto odio </a></h4>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wrap-col">
										<a href="#"><img src="{% static 'home/img/6.jpg' %}" /></a>
										<h4><a href="#">Vero eros et accumsan et iusto odio </a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}