{% extends "home/base.html" %}

{% load staticfiles sekizai_tags%}
{% load blog_tags %}

{% block content %}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<!--img src="{% static 'home/img/banner1.jpg' %}" /-->
						<div class="art-content">

							<h1>{{ post.title }}</h1>
							<p class="date">Published {{ post.publish }} by {{ post.author }}</p>
							{{ post.body|linebreaks }}
							<p><a href="{% static url 'blog:post_share' post.id %}">Share this post</a></p>

							<h2>You might als be interested in</h2>
							{% for post in similar_posts %}
								<p><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></p>
							{% empty %}
								There are no similar posts yet.
							{% endfor %}

							{% with comments.count as total_comments %}
								<h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>
							{% endwith %}


							{% for comment in comments %}
								<div class="comment">
									<p class="info"> Comment {{ forloop.counter }} by {{comment.name }} {{ comment.created }}</p>
									{{ comment.body|markdown }}
								</div>
							{% empty %}
								<p>There are no comments yet.</p>
							{% endfor %}


							{% if new_commet %}
								<h2>Your comment has been added.</h2>
							{% else %}
								<h2>Add a new comment</h2>
								<form action="." method="post">
									{{ comment_form.as_p }}
									{% csrf_token %}
									<p><input type="submit" value="Add comment"></p>
								</form>
							{%endif %}

						</div>
					</article>

					<br>
					<br>

					<div class="widget wid-related">
						<div class="heading"><h4>Related Post</h4></div>
						<div class="content">
							<div class="row">
								<div class="col-md-4">
									<div class="wrap-col">
										<a href="#"><img src="{% static 'home/img/7.jpg' %}" /></a>
										<h4><a href="#">Vero eros et accumsan et iusto odio </a></h4>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wrap-col">
										<a href="#"><img src="{% static 'home/img/8.jpg' %}" /></a>
										<h4><a href="#">Vero eros et accumsan et iusto odio </a></h4>
									</div>
								</div>
								<div class="col-md-4">
									<div class="wrap-col">
										<a href="#"><img src="{% static 'home/img/6.jpg' %}" /></a>
										<h4><a href="#">Vero eros et accumsan et iusto odio </a></h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

{% endblock %}