
<ul class="pagination">
    {% if page.has_previous %}
        <li><a class="button" href="?page={{ page.previous_page_number }}">Prev</a></li>
    {% else %}
        <li><span class="button disabled">Prev</span></li>
    {% endif %}

    {% for i in paginator.page_range %}
        {% if page.number == i %}
            <li><span class="page active">{{ i }} <span class="sr-only">(current)</span></span></li>
        {% else %}
            <li><a href="?page={{ i }}" class="page">{{ i }}</a></li>
        {% endif %}
    {% endfor %}


    {% if page.has_next %}
        <li><a class="button" href="?page={{ page.next_page_number }}">Next</a></li>
    {% else %}
        <li><span class="button disabled">Next</span></li>
    {% endif %}
</ul>
