{% extends "home/base.html" %}

{% load staticfiles sekizai_tags%}

{% block content %}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<div class="art-content">
                            <h1>Dashboard</h1>
							<p>Hello {{ request.user.first_name }}. Welcome to your dashboard.</p>
                            <p>You can <a href="{% url 'edit' %}">edit your profile</a> or <a href="{% url 'password_change' %}">change your password</a>.</p>
						</div>
					</article>


				</div>
			</div>
		</div>
		
	</div>

{% endblock %}