{% extends "home/base.html" %}

{% load staticfiles sekizai_tags%}

{% block content %}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<div class="art-content">
                            <h1>Edit your account</h1>
							<p>You can edit your account settings using the following form:</p>
							<form action="." method="post" enctype="multipart/form-data">
								{{ user_form.as_p }}
								{{ profile_form.as_p }}
								{% csrf_token %}
								<p><input type="submit" value="Save changes"></p>
							</form>
						</div>
					</article>

				</div>
			</div>
		</div>
		
	</div>

{% endblock %}