{% extends "home/base.html" %}

{% load staticfiles sekizai_tags%}

{% block content %}
	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" class="single-page">
		<div class="container">
			<div class="row">
				<div id="main-content">
					<article>
						<div class="art-content">
                            <h1>Login</h1>
							<p>Please use the following form to log in:</p>
                            <form action="." method="post">
								{% csrf_token %}
								{{ form.as_p }}
								<p><input type="submit" value="Login"></p>
                            </form>
                            <br>
                            <p><strong>-- OR --</strong></p>
                        </div>
					</article>

					<article>
						<div class="art-content">
                            <ul>
                                <li class="facebook"><a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a></li>
                                <li class="twitter"><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a></li>
                                <li class="github"><a href="{% url 'social:begin' 'github' %}">Login with Github</a></li>
                            </ul>
                        </div>
					</article>
				</div>
			</div>
		</div>
	</div>

{% endblock %}